body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h1 {
    font-weight: bolder;
}

#botao {
    background-color: blue;
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#nome,
#especialidade,
#crm {
    height: 35px;
}

table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}